
.modal {
    position: fixed;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: black;
  }
  
  .modalContent {
    color: black;
    background: white;
    padding: 20px;
    border-radius: 4px;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }