*
{
    padding: 0px;
    margin: 0px;
}




#pedido {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: green;
    color: #ffff;
    font-size: 1.4rem;
  }

  #close
  {
    margin-left: 10px;
    width: 90%;
    background-color: rgb(23, 179, 23);
  }

  body{
    height: 98.3vh;
    background: linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(251,135,233,1) 35%, rgba(179,90,213,1) 100%);
  }

  
  a{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:80px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  a:hover{
    background:#fff;
    color:#1AAB8A;
  }
  a:before,a:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  a:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  a:hover:before,a:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .w-100
  {
    width: 100%;
  }

  .d-flex
  {
    display: flex;
  }


  .gradient {
    background: linear-gradient(90deg, rgba(252,18,18,1) 0%, rgba(124,40,166,1) 25%, rgba(17,70,182,1) 46%, rgba(14,180,175,1) 68%, rgba(17,164,11,1) 80%, rgba(36,219,29,1) 93%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
  }


  .row
  {
    display: flex;
    flex-direction: row;
  }
  .center
  {
    justify-content: center;
    align-items: center;
  }

  .between
  {
    justify-content: space-between;
  }

  .nav
  {
    display: flex;
    width: 100%;
    height: 80px;
    background: linear-gradient(251deg, rgba(209,118,213,1) 0%, rgba(251,135,233,1) 35%, rgba(179,90,213,1) 100%);
    align-items: center;
  }

.name-carrinho
{
    margin: 10px;
}

.column
{
    flex-direction: column;
}

.h-100{
    height: 100%;
}